build/
build-*/
gdal-*/
gdal-build/
windows-deps/
*.o
*.obj
*.pyc
__pycache__/
*.tar.gz
*.zip
/tmp/
test_stdout.txt
test_stderr.txt
test_exitcode.txt
test_output.txt
stdout.txt
stderr.txt
